:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --hue: 208;
  --hs: 208 16%;
  --shadow-size: 0 0 0.25rem 0.25rem;
  --fg: hsl(var(--hs) 96% / 0.96);
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  background-color: #000;
}
html,
body {
  line-height: 1.25;
  margin: 0;
  color: var(--fg);
  font-family: var(--font-family);
}
body {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 25%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%
    ),
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%
    ),
    repeating-linear-gradient(
      180deg,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #fff;
  background-size: 24rem 24rem;
  background-attachment: fixed;
}
main {
  background: linear-gradient(
    to top,
    hsl(var(--hue) 8% 8% / 0.88),
    hsl(var(--hue) 4% 4% / 0.94)
  );
  background-attachment: fixed;
}
section {
  padding: 1.5rem 0;
  letter-spacing: 0.025em;
}
h1,
h2,
h3 {
  color: hsl(var(--hue) 8% 98%);
}
h1 {
  font-weight: 200;
  font-size: 1.5rem;
}
@media (width > 21rem) {
  h1 {
    font-size: 1.75rem;
  }
}
@media (width > 24rem) {
  h1 {
    font-size: 2rem;
  }
}
@media (width > 26rem) {
  h1 {
    font-size: 2.25rem;
  }
}
@media (width > 28rem) {
  h1 {
    font-size: 2.5rem;
  }
}
h1 span {
  line-height: 1rem;
  font-size: 1.125em;
  margin: 0 -0.5rem;
}
p {
  font-size: 1.125rem;
}
h1,
p {
  margin: 1rem 0;
}
header {
  text-align: center;
  margin: 2rem 0;
}
header p {
  font-size: 1.375rem;
}
header p strong {
  font-weight: 600;
}
header p em {
  opacity: 0.25;
  margin: 0 -0.125rem;
  user-select: none;
}
@media (width < 26rem) {
  header p em {
    display: none;
  }
}
@media (width >= 26rem) {
  header p br {
    display: none;
  }
}
header p strong span {
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.075em;
}
.row {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}
@media (width < 36rem) {
  .row {
    display: block;
  }
  .col {
    margin: 1rem auto;
    max-width: 20rem;
  }
}
.col,
.card {
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: hsl(var(--hs) 96% / 0.04);
  box-shadow: 0 0 0.25rem 0.25rem hsl(var(--hs) 4% / 0.04);
  transition: all 0.2s;
}
.col {
  padding: 1.5rem 1rem;
  flex: 1;
  text-align: center;
  min-width: 16rem;
  transform: scale(1);
}
.col:hover,
.card:hover {
  background-color: hsl(var(--hs) 96% / 0.05);
}
.col:hover {
  box-shadow: 0 0 0.375rem 0.375rem hsl(var(--hs) 4% / 0.08);
  transform: scale(1.025);
}
.card:hover {
  box-shadow: 0 0 0.25rem 0.25rem hsl(var(--hs) 4% / 0.08);
}
.col svg {
  width: 4rem;
  height: 4rem;
}
.col p {
  margin: 0.5rem 0;
}
.dot {
  opacity: 0.5;
  user-select: none;
}

.cards {
  max-width: 46rem;
  margin: auto;
}

.heading {
  margin: 4rem auto;
  border: 1px solid hsl(var(--hs) 96% / 0.5);
  border-right: none;
  border-left: none;
  max-width: 12rem;
  padding: 1rem;
}
h2 {
  font-weight: 400;
  font-size: 1.625rem;
  text-align: center;
  margin: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.card {
  margin: 2.5rem 0;
  padding: 3rem 2rem;
}
.card-main {
  display: flex;
  column-gap: 1.75rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid hsl(var(--hs) 96% / 0.25);
}
.card-icon {
  flex: 0 0 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.card:hover .card-icon {
  opacity: 1;
}
.big-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.125rem solid var(--fg);
}
.service-icon {
  flex: 0 0 6rem;
  width: 6rem;
  height: 6rem;
}
.web-icon {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.5rem;
}
.app-icon {
  border-color: transparent;
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 6.75rem;
  box-shadow: inset 0 0 0 0 #000, 0 0 0 0 #000, 0 0 0 0.125rem var(--fg),
    inset 0 0 0 0.125rem var(--fg);
}
.card-text p {
  margin: 0;
}
.headline {
  font-size: 1.375rem;
  font-weight: 300;
  letter-spacing: 0;
}
.headline .verbs {
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 1;
}
.headline .verbs strong {
  font-weight: 300;
}
.headline .trio {
  font-weight: 200;
  line-height: 1.75;
}
.headline .trio strong {
  font-weight: 500;
  letter-spacing: 0.04em;
}
.smaller,
.info p {
  font-size: 1rem;
}

.flex {
  display: flex;
  column-gap: 1.75rem;
  margin-top: 2rem;
}
.headline {
  flex: 0 0 7rem;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  text-align: right;
}
.info p {
  margin: 0;
}

@media (width < 38rem) {
  .card-main,
  .flex {
    display: block;
  }
  .card {
    padding: 2.5rem 2rem;
  }
  .big-icon {
    margin-bottom: 1.5rem;
  }
  .card-text {
    text-align: center;
  }
  h4 {
    text-align: left;
    margin-bottom: 1rem;
  }
}
@media (32rem < width < 38rem) {
  .big-icon {
    border-width: 3px;
  }
  .web-icon {
    width: 9.25rem;
    height: 9.25rem;
  }
  .service-icon {
    flex: 0 0 9rem;
    width: 9rem;
    height: 9rem;
  }
  .app-icon {
    width: 9.75rem;
    height: 9.75rem;
    border-radius: 9.75rem;
    box-shadow: inset 0 0 0 0 #000, 0 0 0 0 #000, 0 0 0 3px var(--fg),
      inset 0 0 0 3px var(--fg);
  }
}

article {
  padding: 3rem 1rem;
}
@media (width > 42rem) {
  article {
    padding: 3rem;
  }
}
.circles-bg {
  background: linear-gradient(
      130deg,
      hsl(var(--hue) 4% 8% / 80%),
      hsl(var(--hue) 4% 32% / 40%),
      hsl(var(--hue) 4% 8% / 80%)
    ),
    repeating-radial-gradient(
      circle at -16%,
      hsl(var(--hue) 4% 32% / 50%),
      #fff2 0.125rem,
      hsl(var(--hue) 4% 4% / 80%) 0.25rem,
      hsl(var(--hue) 4% 16% / 60%) 11rem
    );
  background-attachment: fixed;
}
.stripes-bg {
  /* background: radial-gradient(
      circle at center,
      hsl(var(--hue) 4% 22% / 50%),
      hsl(var(--hue) 4% 12% / 70%),
      hsl(var(--hue) 4% 8% / 72%)
    ),
    repeating-linear-gradient(
      -140deg,
      hsl(var(--hue) 4% 8% / 80%),
      #fff1 0.125rem,
      hsl(var(--hue) 4% 8% / 80%) 0.25rem,
      hsl(var(--hue) 4% 12% / 80%) 12rem
    ); */
  background: radial-gradient(
      circle at center,
      hsl(var(--hue) 4% 22% / 40%),
      hsl(var(--hue) 4% 18% / 60%),
      hsl(var(--hue) 4% 10% / 60%)
    ),
    repeating-linear-gradient(
      -140deg,
      hsl(var(--hue) 4% 8% / 20%),
      #fff3 0.125rem,
      hsl(var(--hue) 4% 16% / 70%) 0.25rem,
      hsl(var(--hue) 4% 8% / 20%) 12rem
    );
}
.blue {
  background: linear-gradient(
      130deg,
      hsl(190 64% 50% / 0.025),
      hsl(230 64% 50% / 0.025)
    ),
    linear-gradient(
      190deg,
      hsl(var(--hs) 8% / 0.8),
      hsl(var(--hs) 28% / 0.7),
      hsl(var(--hs) 18% / 0.8)
    );

  background: 
  /* linear-gradient(
      130deg,
      hsl(204 20% 48% / 5%),
      hsl(216 20% 48% / 5%)
    ), */
    /* linear-gradient(
      190deg,
      hsl(var(--hue) 8% 4% / 60%),
      hsl(var(--hue) 8% 24% / 50%),
      hsl(var(--hue) 8% 12% / 60%)
    ), */ radial-gradient(
      circle at center,
      hsl(var(--hue) 4% 24% / 64%),
      hsl(var(--hue) 4% 12% / 72%),
      hsl(var(--hue) 4% 8% / 96%)
    ),
    repeating-linear-gradient(
      -140deg,
      hsl(var(--hue) 4% 8% / 80%),
      #fff1 0.125rem,
      hsl(var(--hue) 4% 8% / 80%) 0.25rem,
      hsl(var(--hue) 4% 12% / 80%) 12rem
    );
  background-attachment: fixed, scroll;
}
.pink {
  background: linear-gradient(
      130deg,
      hsl(330 64% 50% / 0.025),
      hsl(290 64% 50% / 0.025)
    ),
    linear-gradient(
      -190deg,
      hsl(var(--hs) 8% / 0.8),
      hsl(var(--hs) 28% / 0.7),
      hsl(var(--hs) 18% / 0.8)
    );
}
.purple {
  background: linear-gradient(
      80deg,
      hsl(280 64% 50% / 0.025),
      hsl(240 64% 50% / 0.025)
    ),
    linear-gradient(
      130deg,
      hsl(var(--hs) 8% / 0.8),
      hsl(var(--hs) 28% / 0.7),
      hsl(var(--hs) 18% / 0.8)
    );

  background: linear-gradient(80deg, hsl(216 8% 48% / 4%), hsl(204 8% 48% / 4%)),
    linear-gradient(
      130deg,
      hsl(var(--hue) 4% 8% / 80%),
      hsl(var(--hue) 4% 28% / 70%),
      hsl(var(--hue) 4% 18% / 80%)
    ),
    repeating-radial-gradient(
      circle at center,
      hsl(var(--hue) 4% 8% / 80%),
      #fff1 0.125rem,
      hsl(var(--hue) 4% 8% / 80%) 0.25rem,
      hsl(var(--hue) 4% 12% / 80%) 12rem
    );
}
.green {
  background: linear-gradient(
      80deg,
      hsl(170 64% 40% / 0.05),
      hsl(90 64% 40% / 0.05)
    ),
    linear-gradient(
      130deg,
      hsl(var(--hs) 8% / 0.8),
      hsl(var(--hs) 28% / 0.7),
      hsl(var(--hs) 18% / 0.8)
    );
}
.inner {
  max-width: 42rem;
  margin: 0 auto;
}
.underline {
  display: flex;
  margin-bottom: 1.5rem;
}
h3 {
  margin: 0;
  border-bottom: 0.25rem solid hsl(var(--hs) 96% / 0.5);
  padding: 0.25rem 0.5rem 0.25rem 1px;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.block p {
  font-size: 1rem;
  margin: 0.75rem 0;
}
blockquote {
  margin: 1rem 0;
  border-left: 0.5rem solid hsl(var(--hs) 96% / 0.5);
  padding-left: 0.5rem;
}
.medium {
  font-weight: 500;
}
.jump-to {
  color: var(--fg);
  text-decoration: none;
  border-bottom: 1px dotted hsl(var(--hs) 96% / 0.75);
}
details {
  margin: 2rem 0 0.5rem;
  border: 1px solid hsl(var(--hue) 8% 80% / 50%);
  border-radius: 0.25rem;
  background-color: hsl(var(--hue) 8% 10% / 60%);
  opacity: 0.9;
}
summary {
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}
details:hover,
details:focus,
details[open] {
  opacity: 1;
}
details[open] summary {
  border-bottom: 1px solid hsl(var(--hue) 8% 80% / 25%);
}
#niche {
  padding: 0 1rem 1rem;
}
a {
  color: hsl(var(--hue) 75% 75%);
}

.ending {
  text-align: center;
  margin: -1rem auto 6rem;
}
.down-arrow {
  font-size: 2rem;
}

footer {
  position: fixed;
  /* bottom: -5rem; */
  bottom: 0;
  /* width: 9.5rem; */
  width: 100%;
  /* width: 32rem; */
  /* height: 6rem; */
  /* height: 3rem; */
  height: 5rem;
  /* border-radius: 50%; */
  /* left: calc(50% - 4.75rem); */
  /* overflow: hidden; */
  left: 0;
  right: 0;
  box-shadow: 0 0 0.25rem 0.25rem hsl(var(--hue) 4% 4% / 20%),
    0 0 0.75rem 0.75rem hsl(var(--hue) 4% 4% / 20%),
    0 0 1.25rem 1.25rem hsl(var(--hue) 4% 10% / 22%);
  /* 0 0 1rem 1rem hsl(var(--hue) 4% 4% / 20%); */
  background: linear-gradient(hsl(var(--hue) 5% 18%), hsl(var(--hue) 5% 12%));
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
footer::before {
  content: "";
  height: 5rem;
  width: 5rem;
  position: absolute;
  transform: rotate(45);
}
.connect {
position: absolute;
inset: 0;
width: 100%;
height: 5rem;
display: flex;
justify-content: center;
align-items: center;
} 
*/

/* align-items: start; */
/* background: linear-gradient(hsl(var(--hue) 5% 18%), hsl(var(--hue) 5% 12%)); */

.link-btn {
  flex: 0 0 auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: auto;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1;
  border-radius: 2rem;
  user-select: none;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 2;
  background-color: hsl(var(--hs) 16%);
  color: hsl(var(--hue) 100% 96%);
  border: 0.125rem solid hsl(var(--hs) 64%);
  box-shadow: 0 0 0.75rem 0.75rem hsl(var(--hue) 90% 85% / 8%);
}
.link-btn:hover {
  box-shadow: 0 0 0.75rem 0.75rem hsl(var(--hue) 90% 85% / 12%);
  background-color: hsl(var(--hs) 18%);
  border-color: hsl(var(--hs) 72%);
  transform: scale(1.025);
}
.link-btn:focus {
  background-color: hsl(var(--hs) 12%);
  border-color: hsl(var(--hs) 64%);
  transform: scale(1.02);
  box-shadow: 0 0 0.75rem 0.75rem hsl(var(--hue) 90% 85% / 8%);
}
.link-btn-icon {
  margin-left: 0.125rem;
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
}
.link-btn-text {
  line-height: 1;
  margin: 0 7px 0 0.625rem;
  flex: 0 0 auto;
}

.highlight {
  padding: 0.25rem 1rem 5px;
  border-radius: 0.5rem;
  background-color: hsl(var(--hs) 25% / 0.75);
  border: 0.125rem solid hsl(var(--hs) 50% / 0.25);
}
